<h3>sign up</h3>

<form action="/admin" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" id="">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">

    <input value="login" class="btn" type="submit">
</form> 