<h3>registration</h3>

<form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" id="">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">

    <input value="register" class="btn" type="submit">

</form> 