<header class="header">
    <a href="/" class="header__logo">admin Logo</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            
        </ul>
    </nav>
    
    <div class="header__button">
        <a href="/logout" class="">
            LogOut
        </a>
    </div>
</header>