<header class="header">
    <a href="/" class="header__logo">NodeJs</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
            
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchbtn" aria-expanded="false">
            Search
            
        </button>
    </div>
</header>